@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to left,  
    rgb(40, 40, 40),
    rgb(40, 40, 40));
}

header{
    overflow: hidden;
    padding: 30px;
    background: linear-gradient(to right, 
    rgba(14, 236, 151, 0.65) ,
    rgba(128, 13, 223, 0.65)),
    url(../img/guitar-1.jpg);
     height: 90vh;
    width: 100vh;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    clip-path: polygon(2% 11%, 3% 7%, 96% 16%, 96% 27%, 91% 79%, 10% 93%, 8% 89%);
    position: relative;
}

.container{
    position: absolute;
    color: white;
    font-size: 22px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}